/* 阴影 */
.shadow {
    background-color: #FFFFFF;
    box-shadow: 0px 5px 40px -1px rgba(2, 10, 18, 0.1);
}

/* Card样式 */
.el-card__header{
    padding: 12px 10px;
}
.el-card__body{
    padding: 12px;
}

.text {
    font-size: 14px;
}

.item {
    margin-bottom: 18px;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
}
.clearfix:after {
    clear: both
}

.box-card {
    width: 100%;
}